@page "{handler?}/{id?}"

@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <form method="post"><button class="btn btn-lg btn-primary" style="margin-bottom: 1rem;">Do it...</button></form>



    <div class="ToDos">
        @foreach (Modul.ToDo dos in Model.doRepository.ToDos)
        {
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-9">
                        <form asp-page-handler="view" asp-route-id="2" method="post">
                            <a href="#">ToDo: @dos.TaskDescription</a>
                        </form>
                    </div>
                    <div class="col-lg-0">
                        <form>
                            <input value="@dos.IsCompleted" class="form-check-input" type="checkbox" />
                        </form>
                    </div>
                    <div class="col-lg-0">
                        <form asp-page-handler="edit" asp-route-id="@dos.ID" method="post">
                            <button class="btn btn-primary">Edit</button>
                        </form>
                    </div>
                    <div class="col-lg-0">
                        <form asp-page-handler="delete" asp-route-id="@dos.ID" method="post">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
