@page "{handler?}/{id?}"

@model IndexModel
@{
    ViewData["Title"] = "Todo Page";
}

<div class="text-center">
    <h1 class="display-1"> Todos</h1>
    <div class="ToDos">
        <div class="container">
            <div class="row">
                @foreach (Modul.ToDo dos in Model.toDos)
                {
                    <div class="form-group">
                        <div class="col-8">
                            <form asp-page-handler="view" asp-route-id="2" method="post">
                                <a href="#">ToDo: @dos.TaskDescription</a>
                            </form>
                        </div>

                        <div class="col-1">
                            <form>
                                <input value="@dos.IsCompleted" class="form-check-input" type="checkbox" />
                            </form>
                        </div>

                        <div class="col-1">
                            <button asp-page="./Edit" asp-route-id="@dos.ID" class="btn btn-primary">Edit</button>
                        </div>

                        <div class="col-1">
                            <form asp-page-handler="delete" asp-route-id="@dos.ID" method="post">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="row">
            <div class="bottom-btn col-lg-3">
                <button class="btn btn-lg btn-primary" data-toggle="modal" data-target="#editModal">Create new</button>
            </div>
            <div class="bottom-btn col-lg-1">
                <button class="btn btn-lg btn-primary">Save</button>
            </div>
        </div>
    </div>




    <!--Modal edit-->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="modalBtn btn btn-sm btn-danger" data-dismiss="modal" aria-label="Close">X</button>
                <div class="modal-body">
                    <h1>Create a Todo</h1>
                    <div class="editModal col-6">
                        <div class="form-group">
                            <label>Priority:</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="PriorityRaido" id="PriorityLow" />
                                <label class="form-check-label" for="PriorityLow">Low</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="PriorityRaido" id="PriorityNormal" checked />
                                <label class="form-check-label" for="PriorityNormal">Normal</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="PriorityRaido" id="PriorityHigh" />
                                <label class="form-check-label" for="PriorityHigh">High</label>
                            </div>
                        </div>
                    </div>
                    <div class="editModal col-6">
                        <div class="form-group">
                            <label for="Desciption" asp-for="Todo.TaskDescription">Description: </label>
                            <input type="text" asp-for="Todo.TaskDescription" data-val="true" data-val-maxlenght="25" class="form-control" id="Desciption" aria-describedby="txtDesc" placeholder="Write description" />
                            <span asp-validation-for="Todo.TaskDescription"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <form method="post" asp-page-handler="add">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>