@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <form method="post"><button>Do it...</button></form>
    

    @foreach (Modul.ToDo dos in Model.doRepository.ToDos)
    {
        <form class="ToDos">
            <div class="form-group">
                <a href="#">ToDo: @dos.TaskDescription</a>
                <input value="@dos.IsCompleted" type="checkbox" />
                <button class="btn btn-primary">Edit</button>
                <button class="btn btn-danger">Delete</button>
            </div>
        </form>
    }
</div>
